.idea/
.ipynb_checkpoints/
**/__pycache__/
*/**/__pycache__
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
runs/
checkpoints/
results/
trained_models/

